body {
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
}

td, th {
    border: 2px solid #007073;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

th {
    color: #007073;
    background-color: #faf2e4;
    text-align: left;
}

legend {
    color: #007073;
}

.error {
    color:#FF0000;
}

.success {
    color: #00bb00;
}
